.li-style {
    display: inline-block;
    padding: 3px;
  }

.item {
  border-radius: 25px;
  border: 2px solid black;
  height: 48vh;
}
.img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}